
@media only screen and (max-width: 576px) {
    .index-font{
        color: white;
        font-size: 0.5em;
        line-height: 1.2em;
    }
    .icon-font{
        color: white;
        font-size: 0.5em;
        line-height: 1.2em;
    }
    .index-title {
        font-size: 1em!important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
    .index-font{
        color: white;
        font-size: 0.7em;
        line-height: 1.2em;
    }
    .icon-font{
        color: white;
        font-size: 0.5em;
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

}

@media only screen and (min-width: 992px) {

}
